*{
    margin: 0;
    padding: 0;
}

button {
    background-color:  #114c5f;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btnLimpiar{
    background-color:  #114c5f;
}

#btnBuscar{
    margin-top: 10px;
    margin-left: 0px;
}

.nombrep{
    margin-left: 40px;
}


.flex-container{
    display: flex;
    height: 500px;
    width: 500px;
}

input{
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    margin-left: 5px;
}

label{
    font-size: 20px;
}

.bor{
    border: 1px solid black;
}


header{
    background-color: #114c5f;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
}

.flex-content{
    margin: auto;
    text-align: left;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #000000;
}
