*{
    margin: 0;
    padding: 0;
}

#vendedores-form {
    max-width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;

    background-color: #e3e3e3;
}

body{
    background-color: #e3e3e3;
}

h1{
    text-align: center;
}

header{
    margin-top: 0;
    padding: 30px;
    background-color: #114c5f;
    color: white;
    border-radius: 5px;
    display: block;
    justify-content: flex-start;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 8px;
}

button {
    background-color: #114c5f;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0c4254;
}


.flex-container{
    display: flex;
    width: 500px;
    height: 500px;
    margin: auto;
}

.flex-content{
    border: 5px solid #000;
}

